.nav-spacing{
  margin: 0 0 0 10px;
  text-decoration: none;
  color: #0000ff;
}

.nav-menu{
  text-align: right;
}

.image-link{
  text-decoration: none;
}

.data-display {
  padding: 10px;
}

.nav-spacing-header{
  text-align: ceter;
  margin: 0 0 80px;
}

.nav-align {
  text-align: center;
}

.moby_dick-frame-div{
  width: 500px;
  margin 20px auto;
  padding: 30px;
  background-color: #fafafa
}

.moby_dick-imgage{
  float: left;
  margin-right: 40px;
}

.moby_dick-quote{
  font-style: italic;
  font-size: 20px;
}

.moby_dick-quote-span{
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000
}

.home-quote{
  padding: 2px 20px;
  background: #ececec
}
